<!-- <form class="form-search-bar ">
  <input class="search-bar" type="text" placeholder="Search keyword" aria-label="Search" mdbInput>
  <!- <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon> -->
<!-- <img src="../assets/images/search-icon1.jpg" alt="search-icon" style="width: 30px; height:30px;"> -->


<!-- </form>
<div class="mat-form-field-suffix">
  <icon="bar" role="img" matsuffix="img" class="mat-icon notranslate material-icons mat-icon-no-color ng-tns-c73-6" aria-hidden="true" data-mat-icon-type="font">search</icon>
</div> -->
<!-- <div class="topnav">
  
  <div class="container">
    <form action="/action_page.php" class="search-bar">
      <input type="text" placeholder="Search keyword" name="search" class="search-bar-input">
      <button type="submit"><i class="fa fa-search"></i></button>
      
    </form>
  </div>
</div> -->

<!-- <div class="search-container">
  <form action="/action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <img src="../assets/images/search icon download.jfif">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div> -->
<!-- <form class="example" action="/action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

<p>Centered inside a form with max-width:</p>
<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search.." name="search2">
  <button type="submit"><i class="fa fa-search"></i></button>
</form> -->
<!-- <head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <i style="font-size:24px" class="fa fa-search">&#xf002;</i>
</body> -->
<!-- <div class= "col-md-12" style="max-width:400px; margin:auto">
  <div class="input-icons">
      <i class="fa fa-search icon"></i>
      <input class="input-field" type="text"  placeholder="Search keyword">
  </div>
</div> -->
<!-- <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <div class="search-container">
    <form action="/action_page.php">
       <input type="text" placeholder="Search keyword" name="search">
      <button type="submit"><i class="fa fa-search"></i></button> -->
<!-- </form>
    <div class="input-icons">
      <i class="fa fa-search icon"></i>
      <input class="input-field" type="text"  placeholder="Search keyword" name="search">
      
    </div>
  </div>
</div> -->

<!-- <div class="sidebar-container">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contacts">Contacts</a>
  
</div> -->

<!-- <mat-toolbar>

  Responsive side navigation
</mat-toolbar>
  
  <mat-sidenav-container>
      <mat-sidenav>
        
      </mat-sidenav>
      <mat-sidenav-content>
          <div class="content mat-elevation-z8">
              Main content here!
          </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8">
    ...
    </mat-sidenav>
    
    <mat-sidenav-content>
       <div class="content mat-elevation-z8">
           Main content here!
       </div>
    </mat-sidenav-content> -->

<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over' " (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>

   The Header
  <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
    <input type="text" placeholder="Search keyword" name="search">
    <i class="fa fa-search"></i>
  </form>
  
 
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

      <img  class="avatar mat-elevation-z8" src="../assets/images/animated pic.jpg" alt="logo" style="width:100px">

      <h4 class="name">Sarkaan Bolet</h4>
      <p class="designation">CEO</p>

      <mat-divider></mat-divider>

          <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span >Home</span>
          </button>

          <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>

          <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>About</span>
          </button>
        
      <mat-divider></mat-divider>
         
          <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
          </button>


    </mat-sidenav>
    <mat-sidenav-content>
      
         
          <div style="text-align: center;">
            <h1>Routing and Navigation</h1>
          </div>
          <nav>
            <button type="button" class="btn btn-outline-primary">
              <a routerLink="/home" 
                routerLinkActive="active">Home
              </a>
            </button>
            <button type="button" class="btn btn-outline-primary">
              <a routerLink="/profile" 
                 routerLinkActive="active">Profile
              </a>
            </button>
          </nav>
          <router-outlet></router-outlet>
    
      
    </mat-sidenav-content>
</mat-sidenav-container>

